@model IEnumerable<stockInfoASPClient.Models.SeekFor>

@{
    ViewData["Title"] = "Index";
}

<h1>Frazy</h1>

<p>
    <a asp-action="Create"><i class="fa fa-plus-square fa-3x" aria-hidden="true"></i></a>
</p>
<table class="table">
    <thead>
        
    </thead>
    <tbody>

@{
    int pos = 1;
    foreach (var item in Model)
    {
        <tr>
           <td>
               @Html.Raw(pos++)
           </td>
            
           <td>
               <a asp-action="Edit" asp-route-id="@item.Id">
                   @Html.DisplayFor(modelItem => item.Word)
               </a>
           </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
